/* Stile per il corpo del documento */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azzurro pastello */
    color: #008080; /* Verde pastello */
}

/* Stile per il contenitore principale */
.main-container {
    width: 80%; /* Larghezza del contenitore principale */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
}

/* Box per il titolo e il testo di benvenuto */
.header-box {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Stile per il video di sfondo */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene le proporzioni e copre l'intera pagina */
    z-index: -1; /* Assicura che il video sia sotto il contenuto */
}

/* Box per la ricerca */
.search-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Stile per la tabella degli ultimi libri */
#libri-recenti {
    margin-top: 20px;
}

/* Stile per il box dei libri consigliati */
#libri-consigliati {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Stile per il link "Archivio Completo" */
#libri-consigliati a {
    display: block; /* Visualizza il link come blocco separato */
    margin-top: 20px; /* Spazio sopra il link */
}
