/* Stile per il corpo del documento */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffeddb; /* Arancione chiaro */
    text-align: center; /* Centra il contenuto orizzontalmente */
}

/* Stile per l'intestazione */
h3 {
    color: #f95d6a; /* Rosso corallo */
    margin-top: 50px; /* Spazio sopra il titolo */
}

#search-container {
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Stile per la tabella */
table {
    width: 90%;
    margin: 20px auto; /* Centra la tabella orizzontalmente */
    border-collapse: collapse;
    background-color: #ffffff; /* Bianco */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    border-radius: 10px; /* Bordi arrotondati */
    overflow: hidden; /* Assicura che i bordi arrotondati funzionino */
}

/* Intestazione della tabella */
thead {
    background-color: #ffe4cc; /* Azzurro pastello */
}

/* Celle dell'intestazione della tabella */
thead th {
    padding: 15px;
    text-align: center;
    color: #f95d6a; /* Rosso corallo */
    font-size: 18px;
}

/* Righe della tabella */
tbody tr {
    border-bottom: 1px solid #ffc4a6;
    transition: background-color 0.3s ease; /* Transizione per l'effetto hover */
}

/* Effetto hover sulle righe della tabella */
tbody tr:hover {
    background-color: #ffe4cc;  /* Azzurro chiarissimo */
}

/* Celle del corpo della tabella */
tbody td {
    padding: 2px;
    font-size: 16px;
    color: #f95d6a; /* Rosso corallo */
}

/* Stile per le immagini di copertina */
td img {
    width: 100px; /* Larghezza fissa */
    height: 150px; /* Altezza fissa per mantenere le proporzioni */
    object-fit: cover; /* Taglia l'immagine per riempire le dimensioni */
    display: block;
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    border-radius: 5px; /* Bordi leggermente arrotondati */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera */

}
#Fiveimg  img{
    width: 100px; /* Larghezza fissa */
    height: 150px; /* Altezza fissa per mantenere le proporzioni */
    object-fit: cover; /* Taglia l'immagine per riempire le dimensioni */
    display: block;
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    border-radius: 5px; /* Bordi leggermente arrotondati */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera */
   
}


li{
    list-style-type:  none;
    display: inline;
    margin: 0 10px;
    
}

#libri-recenti{
    background-color: #e9dfd1;
    display: inline-block;
    margin: 10px auto;
    padding: 0px 0px;
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
    color:none; /* Bianco */
    background-color:none
 
}

#libri-consigliati{
    background-color: #e9dfd1;
    display: inline-block;
    margin: 5px;
    padding: 0px 0px;
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
    color:none; /* Bianco */
    background-color:none
 
}
/* Stile per il link "Torna alla Home" */
a {
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#Archivio{
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #f95d6a; /* Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
}


#logout{
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #f95d6a; /* Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
}
#libriP{
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #f95d6a; /* Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
}
#Autori{
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #f95d6a; /* Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
}



/* Stile per il link "Torna alla Home" al passaggio del mouse */
a:hover {
    background-color: #ff7e82; /* Rosso chiaro */
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene le proporzioni e copre tutta la pagina */
    transform: translate(-50%, -50%);
    z-index: -100; /* Assicura che il video sia sotto il contenuto */
}
#ris-ricerca li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f2f2f2; 
    color: #333; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
#ris-ricerca li:hover {
    background-color: #e6e6e6; 
}


/* Stile per la barra di ricerca */
#search-input {
    width: 600px; /* Imposta la larghezza desiderata */
    height: 20px;
    padding: 10px;
    border: 1px solid #f95d6a; /* Rosso corallo */
    border-radius: 5px;
    font-size: 16px;
    transition: width 0.4s ease-in-out;
}

/* Stile per il pulsante di ricerca */
#search-button {
    padding: 10px 20px;
    background-color: #f95d6a; /* Rosso corallo */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Stile per il pulsante di ricerca al passaggio del mouse */
#search-button:hover {
    background-color: #ff7e82; 
}

#inserisci{
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #f95d6a; /* Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

