<!DOCTYPE html>
<html>
<head>
    <title>Archivio Autori</title>
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
</head>
<body>
    <h1>Archivio Autori</h1>
    
    <a id="search-button" th:if="${session.loggato=='ok'} " href="/homeUtente">HOME</a>
    <a id="search-button" th:if="${session.loggato!='ok'}"href="/home">HOME</a>
    <a id="search-button" th:if="${session.loggato=='ok'}" href="/api/libro/libriUtente">I TUOI LIBRI</a>
    <a id="search-button"  href="/api/libro/all">ARCHIVIO LIBRI</a>
   
   
    <table>
        <thead>
            <TH>COVER</TH>
            <TH>NOME</TH>
            <th>COGNOME</th>
            <th>BIOGRAFIA</th>
            <TH>RATING</TH>
            <th>Lista libri</th>
            
        </thead>
        <tbody>
            <tr th:each="autori:${autore}">

                <td th:src="${autori.url}"><img th:src="${autori.url}" alt="Copertina"></td>
                <td th:text="${autori.nome}"></td>
                <td th:text="${autori.cognome}"></td>
                <td th:text="${autori.biografia}"></td>
                <td th:text="${autori.rating}"></td>
                <td>
                    <form id="menutendina" th:action="@{/api/libro/libroById}" method="get">
                        <select name="idLibro">
                            
                            <div th:each="libro : ${autori.libri}">
                                <option th:value="${libro.id}" th:text="${libro.titolo}"></option>
                            </div>
                        </select>
                        <br>
                        <button id="menubottone" type="submit">Vai</button>
                    </form>

                </td>
                  
            </tr>
        </tbody>

        


</table>


<div th:if="${session.ruolo == 'admin' && session.loggato=='ok'}" style="display: flex; justify-content: center;">
    <button id="inserisciButton">Inserisci un nuovo autore</button>
</div>

<div class="contenuto" id="inserisci"   th:if="${session.ruolo == 'admin' && session.loggato=='ok'}" style="display: none;">
    <h4>Aggiungi Autore</h4>
    <!--Uso la form per permettere l'inserimento di dati da parte dell'utente
    Se faccio una richiesta inserimento dati
    e uso il body allora probabilmente sfrutterò il verbo POST
    questi dati potranno così essere recuperati dal backend e li passiamo al server-->
    
    <form action="/api/autore/addu" method="post" >
       
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required><br>
        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" name="cognome" required><br>
        <label for="biografia">Biografia</label>
        <input type="text" id="biografia" name="biografia" required><br>
        <label for="rating">Rating</label>
        <input type="number" id="rating" name="rating" required><br>
        <label for="url">Url</label>
        <input type="text" id="url" name="url_autore" required><br>

        <br>


 <button id="crea">Aggiungi Autore!</button>
 <button id="annulla">Annulla</button>
 <!--<input id="crea" type="submit" value="Aggiungi un nuovo libro">--> 
    </form>
     
    </div>

    
    <script src="script.js"></script>
    <div class="footer" style="text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: grey;
    color: #fff;">
        <footer style="
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;">
            <a href="/chiSiamo" id ="chiSiamo">Chi siamo</a>
            <a href="/FAQ" id ="FAQ">FAQ</a>
            <a href="/privacyPolicy" id ="privacyPolicy">Privacy policy</a>
            <a href="/lavoraConNoi" id ="lavoraConNoi">Lavora con noi</a> 
            <!-- Aggiungi link ai social -->
            <a href="https://www.facebook.com/BookWarm" target="_blank" id="facebook">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/facebook-2752192-2285009.png" alt="Facebook" style="width: 20px; height: 20px; vertical-align: middle;">
                </a>
                <a href="https://www.instagram.com/BookWarm" target="_blank" id="instagram">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram" style="width: 20px; height: 20px; vertical-align: middle;">
        </footer>
    </div>
    
</body>
<script>
    document.getElementById('inserisciButton').addEventListener('click', function() {
        document.getElementById('inserisciButton').style.display = 'none';
        document.getElementById('inserisci').style.display = 'block';
    });
    document.getElementById('annulla').addEventListener('click', function() {
    document.getElementById('inserisci').style.display = 'none';
    document.getElementById('inserisciButton').style.display = 'block';
});
    </script>
</html>