<!DOCTYPE html>
<html>
<head>
    <title>Archivio Autori</title>
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
</head>
<body>
    <h1>Archivio Autori</h1>
    <table>
        <thead>
            <TH>COVER</TH>
            <TH>NOME</TH>
            <th>COGNOME</th>
            <th>BIOGRAFIA</th>
            <TH>RATING</TH>
            <th>Lista libri</th>
            
        </thead>
        <tbody>
            <tr th:each="autori:${autore}">

                <td th:src="${autori.url}"><img th:src="${autori.url}" alt="Copertina"></td>
                <td th:text="${autori.nome}"></td>
                <td th:text="${autori.cognome}"></td>
                <td th:text="${autori.biografia}"></td>
                <td th:text="${autori.rating}"></td>
                <td>
                    <div th:each="libro : ${autori.libri}">
                        <span th:text="${libro.titolo}"></span><br>&nbsp;
                    </div>
                </td>
                  
            </tr>
        </tbody>

        


</table>
    
    <script src="script.js"></script>
</body>
</html>