<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi siamo</title>
</head>
<body>
    <h1>Chi siamo</h1>
    <p>Benvenuti nella nostra Libreria Digitale! 
        Siamo un gruppo di appassionati lettori che amano 
        condividere e organizzare i propri libri in modo semplice 
        e intuitivo. La nostra missione è creare uno spazio dove 
        poter salvare i libri che state leggendo o che volete leggere, 
        tenere traccia dei vostri progressi e scoprire nuove letture attraverso 
        le raccomandazioni della nostra comunità.</p>
</body>
</html>