<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
    <script th:inline="javascript">
        var list = /*[[${libri}]]*/ [];
        var list1 = /*[[${autori}]]*/ [];
        
       </script>
    <script src="/js/libri.js"></script>
 
    <title>BookWarm</title>
</head>
<body>
    

    <video autoplay muted loop id="background-video">
        <source src="https://videos.pexels.com/video-files/2268807/2268807-hd_1920_1080_24fps.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
    </video>
    <h2>
        <img src="https://i.ibb.co/wM8h3cP/bookwarm.png" alt="bookwarm"></a>
    </h2>
    <h4 th:text="${actualUser}"></h4>
    <a href="/logout" id ="logout">Logout</a>
    <a href="/api/libro/all" id="Archivio" >Archivio Completo</a>
    <a href="/api/autore/all" id="Autori" >Archivio Autori</a>
    <a href="/api/libro/libriUtente" id="libriP" >I tuoi libri</a>
    <a href="/gestioneAccount" id="gestioneAccount" style="display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #f95d6a; /* Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;">Gestione Account</a>
    <br>
    
    <div class="search-container">
        <form action="/api/libro/search" method="post" id="search-form">

            <input type="text" id="search-input" name="query" placeholder="Cerca...">
            <div id="ris-ricerca" ></div>
      
            <button id="search-button" type="submit" href="">
                search
            </button>
        </form>
    </div>
    
    
    


    
    
    <form action="/recenti" method="GET" id="libri-recenti">
        
    
    <div id="libri-recenti">
        <h2>Ultime Uscite</h2>
        <div>
            <table>

                
                <tbody>
                       
                    <li id="listina" th:each="libro:${libr}">      
                        <a id ="Fiveimg" th:src="${libro.url}"><img th:src="${libro.url}" alt="Copertina"></a>
                    </li>
                </tbody>
                <div>
                    <a href="/api/libro/recenti">...</a>
                </div>
                

            </table>
        </div>
        

    </div>

</form>

    <br>
    <br>

    <div id="libri-consigliati">
        <h2>Libri Consigliati</h2>
        <div>
            
            <li th:each="libro:${librG}">      
                <a id ="Fiveimg" th:src="${libro.url}"><img th:src="${libro.url}" alt="Copertina"></a>
            </li>
            
        </div>
        <div>
            <a href="/api/libro/genere">...</a>
        </div>
    </div>
        <div id="reading-challenge"  th:if="${session.loggato=='ok'}">
            <h2>Reading Challenge</h2>
            
            <form action="/api/libro/challenge" method="post" id="challenge-form">
                <div class="flex-container">
                    <a th:text="${nlibriUtente}" style="color: #CC7722;"></a>
                    <input type="number" name="libriChallenge" th:value="${libriChallenge}" style="width: 50px; background-color: transparent;">
                    <button id="challenge" type="submit">Aggiorna</button>
                </div>
             
            </form>
            <div th:if="${merito}">
                <div th:if="${merito}">
                    <h2 class="animated color-changing">Bravo,hai superato la tua reading challenge!</h2>
                </div>
        </div>
        </div>

        <div class="footer" style="text-align: center;
        margin-top: 40px;
        padding: 10px;
        background-color: grey;
        color: #fff;
        width: 100%;">
            <footer style="
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;">
                <a href="/chiSiamo" id ="chiSiamo">Chi siamo</a>
                <a href="/FAQ" id ="FAQ">FAQ</a>
                <a href="/privacyPolicy" id ="privacyPolicy">Privacy policy</a>
                <a href="/lavoraConNoi" id ="lavoraConNoi">Lavora con noi</a> 
            </footer>
        </div>

      
    
</body>

<script>
    const input = document.getElementById('search-input');
    input.addEventListener("keyup",autocomp);
    const search = document.getElementById('ris-ricerca');


    function autocomplete(valore){
      if(valore.length === 0){
        return [];
      }
      var valoreLower=valore.toLowerCase();
      var controllo=false;
      
      return list.filter((libro) => {

for(var i=0;i<valoreLower.length;i++)
{
        if(libro.titolo.toLowerCase().charAt(i)===valoreLower.charAt(i) )
        {
          
            controllo=true;
        }else{
            controllo=false;
            break;
        }
    }
 
if(controllo===true)
        return libro.titolo
      }
    )
  

}
function autocompleteA(valore){

    if(valore.length === 0){
        return [];
      }
      var valoreLower=valore.toLowerCase();
      var controllo=false;

  return list1.filter((autore) => {

for(var i=0;i<valoreLower.length;i++)
{
        if(autore.cognome.toLowerCase().charAt(i)===valoreLower.charAt(i) )
        {
          
            controllo=true;
        }else{
            controllo=false;
            break;
        }
    }
 
if(controllo===true)
        return autore.cognome;
      }
    )
    }
  
  function autocomp(input){
   
   
    let consigliati= "";
    let consigliati1= "";
    var cLibro=0;
    var cAutore=0;
    const titoli= autocomplete(input.target.value);
    const autori= autocompleteA(input.target.value);
titoli.forEach((titolo) => {
    if(cLibro<4)
  consigliati += `<li  onclick="seleziona(event)"><span style="color:blue;">L</span>: ${titolo.titolo}</li>`;

  cLibro++;

 
    
  })
    autori.forEach((autore) => {
        if(cAutore<4)

        consigliati1 += `<li onclick="seleziona(event)"><span style="color:green;">A</span>: ${autore.cognome}</li>`;
        cAutore++;
    })
  let consigliatiSuper=consigliati+" "+consigliati1+" ";

  search.innerHTML = `<ul>${consigliatiSuper}</ul>`;
 

}
function seleziona(event){
  search.innerHTML = "";
  input.value = event.target.textContent.substring(3);
  
}
window.onpageshow = function() {
    document.getElementById('search-input').value = '';
}
//ad ogni apertura della pagina il campo di ricerca viene resettato,anche se si torna indietro tramite freccia
</script>

<style>
 
    @keyframes colorchange {
        0% { color: red; }
        25% { color: yellow; }
        50% { color: blue; }
        75% { color: green; }
        100% { color: red; }
    }

    .color-changing {
        animation: colorchange 5s infinite;
       
    }


    .flex-container {
        display: flex;
        align-items: center;
    }

    .flex-container > * {
        margin-right: 10px;
    }
#reading-challenge {
        width: 200px;
        padding: 20px;
        border: 1px solid #ddd;

        
        background-color: bisque;
    }

    #reading-challenge h2 {
        font-size: 1.2em;
        color: #333;
        margin-bottom: 10px;
    }

    #challenge-form {
        display: flex;
        flex-direction: column;
    }

    #challenge-form input, #challenge-form button {
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    #challenge-form button {
        color: #fff;
        background-color: #333;
        cursor: pointer;
    }

    #challenge-form button:hover {
        background-color: #555;
    }
</style>

</html>