<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homeStyle.css">
    <title>114 Libri</title>
</head>
<body>
    <h1>114 Libri</h1>
    <p>Benvenuto su 114 Libri!</p>
    <h4 th:text="${actualUser}"></h4>
    <a href="/logout">Logout</a>
    <div class="search-container">
        <form action="/search" method="GET" id="search-form">
            <input type="text" id="search-input" name="query" placeholder="Cerca...">
            <button id="search-button" type="submit">
                search
            </button>
        </form>
    </div>
    
    <form action="/all" method="GET" id="libri-recenti">
        
    
    <div id="libri-recenti">
        <h2>Le ultime Uscite!</h2>
        <div>
                        <table>
                <thead>
                    <th>ID</th>
                    <th>Titolo</th>
                    <th>Autore</th>
                    <th>Genere</th>
                    <th>Release</th>
                    <th>Ratings</th>
                    <a href="/api/libro/all">...</a>
                </thead>
                <tbody>
                    <tr th:each="libro:${libri}">
                        <td th:text="${libro.id}"></td>
                        <td th:text="${libro.titolo}"></td>
                        <td th:text="${libro.autore}"></td>
                        <td th:text="${libro.genere}"></td>
                        <td th:text="${libro.dataPubblicazione}"></td>
                        <td th:text="${libro.rating}"></td>

                        <td><a href="|/libro-byAnno?libroDataPubb=${libro.dataPubblicazione}|">...</a></td>
                    </tr>
                </tbody>

            </table>
        </div>
        

    </div>
</form>
    <div id="libri-consigliati">
        <h2>Libri Consigliati</h2>
        <div>
            <a href="/pagina-genere">...</a>
            <img src="src\main\resources\img\book.png" alt="Book">
            <p>Titolo: </p>
            <p>Autore: </p>
            <p>Genere: </p>
            <p>Anno: </p>
        </div>
    
    
</body>
</html>