<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homeStyle.css">
    <title>114 Libri</title>
</head>
<body>
    <h1>114 Libri</h1>
    <p>Benvenuto su 114 Libri!</p>
    <h4 th:text="${actualUser}"></h4>
    <a href="/logout">Logout</a>
    <div class="search-container">
        <form action="/search" method="GET" id="search-form">
            <input type="text" id="search-input" name="query" placeholder="Cerca...">
            <button id="search-button" type="submit">
                <img src="src\main\resources\img\searchmagnifierinterfacesymbol_79894.png" alt="Search">
            </button>
        </form>
    </div>

    <div id="libri-recenti">
        <h2>Le ultime Uscite!</h2>
        <div>
            <p><button onclick="listaRecenti()">...</button></p>
            <img src="src\main\resources\img\book.png" alt="Book">
            <p>Titolo: </p>
            <p>Autore: </p>
            <p>Genere: </p>
            <p>Anno: </p>
            <td><input type="button" value="AGGIUNGI" onclick="add();refresh()"></td>
            <td><input type="button" value="ELIMINA" onclick="remove();refresh()"></td> 
        </div>
        

    </div>

    <div id="libri-consigliati">
        <h2>Libri Consigliati</h2>
        <div>
            <p><button onclick="listaGenere()">...</button></p>
            <img src="src\main\resources\img\book.png" alt="Book">
            <p>Titolo: </p>
            <p>Autore: </p>
            <p>Genere: </p>
            <p>Anno: </p>
        </div>
    
    
</body>
</html>