<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
    <script th:inline="javascript">
        var list = /*[[${libri}]]*/ [];
       </script>
    <script src="/js/libri.js"></script>
 
    <title>BookWarm</title>
</head>
<body>
    

    <video autoplay muted loop id="background-video">
        <source src="https://videos.pexels.com/video-files/2268807/2268807-hd_1920_1080_24fps.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
    </video>
    <h1>BookWarm</h1>
    <p>La tua libreria digitale</p>
    <h4 th:text="${actualUser}"></h4>
    <a href="/formLogin" id ="logout">Login</a>
    <a href="/api/libro/all" id="Archivio" >Archivio Completo</a>
    
    <div class="search-container">
        <form action="/api/libro/search" method="post" id="search-form">

            <input type="text" id="search-input" name="query" placeholder="Cerca...">
            <div id="ris-ricerca" ></div>
      
            <button id="search-button" type="submit" href="">
                search
            </button>
        </form>
    </div>
    
    


    
    
    <form action="/recenti" method="GET" id="libri-recenti">
        
    
    <div id="libri-recenti">
        <h2>Ultime Uscite</h2> <a href="/api/libro/recenti">...</a>
        <div>
            <table>

                
                <tbody>
                       
                    <li id="listina" th:each="libro:${libr}">      
                        <a id ="Fiveimg" th:src="${libro.url}"><img th:src="${libro.url}" alt="Copertina"></a>
                    </li>
                </tbody>
                

            </table>
        </div>
        

    </div>

</form>

    <br>
    <br>

    <div id="libri-consigliati">
        <h2>Libri Consigliati</h2>
        <div>
            
            <li th:each="libro:${libr}">      
                <a id ="Fiveimg" th:src="${libro.url}"><img th:src="${libro.url}" alt="Copertina"></a>
            </li>
            
        </div>
        <div>
            <a href="/api/libro/genere">...</a>
        </div>

        
    
    
</body>

<script>
    const input = document.getElementById('search-input');
    input.addEventListener("keyup",autocomp);
    const search = document.getElementById('ris-ricerca');


    function autocomplete(valore){
      if(valore.length === 0){
        return [];
      }

      //const reg=new RegExp(valore.toLowerCase());
      var valoreLower=valore.toLowerCase();
      var controllo=false;
      
      return list.filter((libro) => {

for(var i=0;i<valoreLower.length;i++)
{
        if(libro.titolo.toLowerCase().charAt(i)===valoreLower.charAt(i) )
        {
          
            controllo=true;
        }else{
            controllo=false;
            break;
        }
    }
 
if(controllo===true)
        return libro.titolo
      }
    )

}
  
  function autocomp(input){
   
    
    let consigliati= "";
    const titoli= autocomplete(input.target.value);
titoli.forEach((titolo) => {
  consigliati += `<li  onclick="seleziona(event)">${titolo.titolo}</li>`;
  console.log(consigliati);
    
  })
  search.innerHTML = `<ul>${consigliati}</ul>`;
 

}
function seleziona(event){
  search.innerHTML = "";
  input.value = event.target.textContent;
  
}
</script>

</html>