<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Nuove Uscite</title>
</head> 
<body>
    <h3>Le Nuove Uscite!</h3>
    
    <table>
        <thead>
            <TH>COVER</TH>
            <th>TITOLO</th>
            <TH>AUTORE</TH>
            <th>GENERE</th>
            <TH>DATA PUBBLICAZIONE</TH>
            <TH>RATING</TH>
            
        </thead>
        <tbody>
            <tr th:each="libro:${libri}">
                <td th:src="${libro.url}"><img th:src="${libro.url}" alt="Copertina"></td>
                <td th:text="${libro.titolo}"></td>
                <td th:text="${libro.autore}"></td>
                <td th:text="${libro.genere}"></td>
                <td th:text="${libro.dataPubblicazione}"></td>
                <td th:text="${libro.rating}"></td>

               
=======
                


                <td><a href="|/libro-byAnno?libroDataPubb=${libro.dataPubblicazione}|">...</a></td>
            </tr>
        </tbody>





 <!--tabella di visualizzazione lista/modifica alimento e cancellazione-->

</table>



    <br><br>
    <a href="/home">Torna alla Home</a>

    
</body>
</html>