<!DOCTYPE html>
<html>
<head>
    <title>Libri Utente</title>
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
</head>
<body>
    <h1>Libri Utente</h1>
    
    <div id="libri-container">
        <table>
            <thead>
                <TH>COVER</TH>
                <th>TITOLO</th>
                <TH>AUTORE</TH>
                <th>GENERE</th>
                <TH>DATA PUBBLICAZIONE</TH>
                <TH>PAGINE</TH>
                <TH>RATING</TH>
                <th>See More</th>
                <th>Elimina</th>
                
            </thead>
            <tbody>
                <tr th:each="libro:${libri}">
                    <td th:src="${libro.url}"><img th:src="${libro.url}" alt="Copertina"></td>
                    <td th:text="${libro.titolo}"></td>
    
              <!--aggingere collegamento a endpoint /homeUtente-->
    
                
              <td><a  style="color: red;" th:text="${libro.autore}" th:href="@{|/api/autore/byNome?nome=${libro.autore}|}">  </a></td>
         
              <td><a  style="color: red;" th:text="${libro.genere}" th:href="@{|/api/libro/byGenere?genere=${libro.genere}|}">  </a></td>
                    <td th:text="${libro.dataPubblicazione}"></td>
                    <td th:text="${libro.nPagine}"></td>
                    <td th:text="${libro.rating}"></td>
                    <td><a href="|/api/libro/byId?idLibro=${libro.id}|">...</a></td>
                    <td><a th:href="|/api/libro/eliminaDaLista?idLibro=${libro.id}|">
                        <button>Elimina!</button>
                    </a></td>
                
                </tr>
                

            </tbody>
            
            <a style="color: rgb(97, 139, 18);" href="/homeUtente">Ritorna alla home</a>
           
    
    </div>
    <div class="footer" style="text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: grey;
    color: #fff;">
        <footer style="
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;">
            <a href="/chiSiamo" id ="chiSiamo">Chi siamo</a>
            <a href="/FAQ" id ="FAQ">FAQ</a>
            <a href="/privacyPolicy" id ="privacyPolicy">Privacy policy</a>
            <a href="/lavoraConNoi" id ="lavoraConNoi">Lavora con noi</a> 
        </footer>
    </div>
</body>
</html>