<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="css/homeStyle.css" type="text/css">
    <script src="js/libri.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<body>
    <h3>Le Nuove Uscite!</h3>
    
    <table>
        <thead>
        
            <th>ID</th>
            <th>TITOLO</th>
            <TH>AUTORE</TH>
            <th>GENERE</th>
            <TH>DATA PUBBLICAZIONE</TH>
            <TH>RATING</TH>
            
        </thead>
        <tbody>
            <tr th:each="libro:${libri}">
                <td th:text="${libro.id}"></td>
                <td th:text="${libro.titolo}"></td>
                <td th:text="${libro.autore}"></td>
                <td th:text="${libro.genere}"></td>
                <td th:text="${libro.dataPubblicazione}"></td>
                <td th:text="${libro.rating}"></td>
                <!-- <td th:src="${libro.url}"></td>
                <td><img src="${libro.url}" alt="Book Cover"></td> -->

                <td><a href="|/libro-byAnno?libroDataPubb=${libro.dataPubblicazione}|">...</a></td>
            </tr>
        </tbody>





 <!--tabella di visualizzazione lista/modifica alimento e cancellazione-->

</table>

<!--
<h4>Inserimento nuovo alimento</h4>
Uso la form per permettere l'inserimento di dati da parte dell'utente
Se faccio una richiesta inserimento dati
e uso il body allora probabilmente sfrutterò il verbo POST
questi dati potranno così essere recuperati dal backend e li passiamo al server
 <form action="/inserisci-alimentare" method="post">
    <label for="id">Id</label>
    <input type="number" id="id" name="id" >
    <br>
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" >
    <br>
    <label for="prezzo">Prezzo</label>
    <input type="number" id="prezzo" name="prezzo" step=".01" >
    <br>
    <label for="scadenza">Scadenza</label>
    <input type="date" id="scadenza" name="scadenza" >
    <br>
    <input type="submit" value="Crea un nuovo alimento">
 </form>

    <br>
    <div id="form-modifica" hidden>
        <button id="chiudiFormModifica" onclick="chiudiFormModifica()">Chiudi</button>
        <form action="/modifica-alimentare" method="post">
            <label for="id">Id Alimento</label>
            <input type="number" id="modifica-id" name="id">
            <label for="nome">Nome Alimento</label>
            <input type="text" id="modifica-nome" name="nome">
            <label for="prezzo">Prezzo Alimento</label>
            <input type="number" id="modifica-prezzo" name="prezzo" step=".01" >
            <label for="scadenza">Scadenza Alimento</label>
            <input type="date" id="modifica-scadenza" name="scadenza">
            <br>
            <input type="submit" value="Modifica Alimento">
        </form>

    </div>-->

    <br><br>
    <a href="/home">Torna alla Home</a>

    
</body>
</html>